.carousel-introduction .container {
  padding: 0;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  border: 0;
  height: 10px;
  background: #000000;
  opacity: 0.1;
}

.carousel-introduction .carousel-indicators {
  bottom: -40px;
}

.carousel-introduction .carousel-indicators .active {
  background-color: #e94057;
  opacity: 1;
}

.carousel-introduction .carousel-item > img {
  width: 65%;
  display: block;
  margin: 0 auto;
}

.carousel-introduction .carousel-item.active {
  z-index: -10;
  position: relative;
  overflow: hidden;
}

.carousel-introduction .carousel-item {
  opacity: 0;
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.carousel-introduction .side-images > img {
  width: 55%;
}

.carousel-introduction .side-images {
  position: absolute;
  width: 100%;
  opacity: 1;
}

.carousel-introduction .side-images-right {
  top: 5%;
  z-index: -10;
  left: -44%;

  opacity: 1;
  animation: fadeInRight 0.5s ease-out;
}

.carousel-introduction .side-images-left {
  top: 5%;
  z-index: -10;
  right: -89%;

  opacity: 1;
  animation: fadeInLeft 0.5s ease-out;
}

@keyframes fadeInRight {
  0% {
    opacity: 80%;
    transform: translateX(30%);
  }

  100% {
    opacity: 90%;
    transition: 0.5s;
    transform: translateX(0%);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 80%;
    transform: translateX(-30%);
  }

  100% {
    opacity: 90%;
    transition: 0.5s;
    transform: translateX(0%);
  }
}

.carousel-introduction .carousel-caption {
  position: static;
  margin-top: 40px;
}
